table {
  width: 100%;
}
th {
  background-color: #a97f32;
  color: white;
}


* {
  box-sizing: border-box;
}
/* Style the search field */
/* Style the submit button */
form.example select {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor:pointer
}
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 60%;
  background: #f1f1f1;
}
/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor:pointer
}
form.example button:hover {
    background:#0b7dda
}


body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  background-color: #ed763e;
  color: white;
  padding: 20px;
}

header img {
  height: auto;
  max-width: 100%;
}

header h2 {
  flex-grow: 1;
  margin-left: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
nav li {
  float: left;
}
nav li a {
  display:block;
  color:white;
  text-align:center;
  padding:14px 16px;
  text-decoration:none; 
}
nav li a:hover{
background-color:#111; 
}

section{
display:flex; 
} 

article{
flex-grow:3; 
padding-left:20px; 
padding-right:20px; 
} 

aside{
flex-grow:1; 
background-color:#f1f1f1; 
padding-left:20px; 
padding-right:20px;  
} 

footer{
background-color:#ed763e; 
color:white; 
text-align:center;  
padding-top :10px ;
padding-bottom :10px ;
} 